/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********* End Reset *************/

body {
	text-align: center;
	/*background-image: url("../../img/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;*/
}
h1, h2, li, a, p {
	color: #333f4a;

}

h1, h2 {
	/*font-family: 'Abril Fatface', cursive;*/
	font-family: 'Lato', sans-serif;
	font-weight: 800;
}

h1 {
	font-size: 400%;
}

h2 {
	font-size: 250%;
}

p, li, a, small {
	font-family: 'Oxygen', sans-serif;
}

.section {
	padding-bottom: 10%;
}

.section h2 {
	padding-bottom: 5%;
}

.blue-highlight {
/*	background-color: #92EDE6;*/
    /*background-color: rgba(146, 237, 230, 0.76);*/
    margin: 0 auto;
}

.strong {
	font-weight: 700;
}

.navbar {
	margin-top: 15px;
	width: 100%;
	text-align: center;
/*	background-color: rgba(255, 255, 255, 0.95);*/
	padding: 20px;
}
.navbar ul {
	list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-right: 5%;
}

.navbar ul li a {
	text-decoration: none;

}

.navbar ul li a:hover, .navbar ul li a:active {
    color: #616569;
    text-decoration: underline;
}

.main-container {
	/*background-color: rgba(255, 255, 255, 0.95);*/
    text-align: center;
    margin: 0 125px;
/*    padding: 5% 10%;*/
    line-height: 75px;
    border-radius: 15px;
    padding-top: 8%;
}

.intro {
	height:100vh;
	background-image: url("../../img/background3.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    line-height: 80px;
    padding-top: 10%;
}

.button {
	border: 3px solid #333f4a;
    padding: 15px 30px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 10px;
    font-weight: 700;
    border-radius: 3px;
    background-color: white;
}

.button:active, .button:hover {
	border: 2px solid #616569;
    color: #616569;
}

.more-info {
	padding: 2%;
}

hr {
	background-color: #333f4a;
    height: 1px;
}

.img-column {
	width: 40%;
    float: left;
    padding-right: 5%;
}

.about-column {
	text-align: left;
    line-height: 25px;
}

.about-column p {
	font-size: 125%;
}

.amy-img { 
    max-width: 100%;
    border: 3px solid #92EDE6;
    border-radius: 50%;
}

.skills-list ul li {
	line-height: 20px;
	font-weight: 700;
}

.skills-list div {
	width: 20%;
    display: inline-block;
}

.portfolio-item {
	width: 100%;
}

.portfolio-item .img-container {
	float: left;
}

.portfolio-item img {
	border: 2px solid #E4FAF4;
	max-width: 60%;
}

.portfolio-item .project-desc {
	width: 70%;
	float: right;
	line-height: 35px;
    text-align: left;
}

.portfolio-item:after {
    clear: both;
    content: " ";
    display: block;
}

.more-work-available {
	text-align: left;
	font-size: 12px;
}

#contact {
	background-image: url("../../img/background3.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: bottom;
    padding: 60px;
    line-height: 85px;
}

#contact h2 {
	padding-bottom: 0;
}

.email-input {
	background: url("../../img/social/email.png") no-repeat scroll 0px 0px;
}

.phone-input {
	background: url("../../img/social/phone.png") no-repeat scroll 0px 0px;
}

.email-input, .phone-input {
    background-size: 70px;
    padding-left: 100px;
    border: 2px solid #333F4A;
    border-radius: 3px;
    height: 68px;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.75);
    color: #333F4A;
}



footer {
	padding: 20px;
}

footer a img {
	width: 30px;
    vertical-align: middle;
}

footer p {
	display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
}