html, body {
	height: 100%;
	color: #333f4a;
	font-family: 'Lato', sans-serif;
}

body {
	text-align: center;
	margin: 0;
	background-image: url("../../img/leaves-faded-neutrals.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
}

p {
    margin: 0 0 25px;
}

a, a:visited {
	color: #FB3488;
	text-decoration: none;
	font-weight: 700;
}

a:active, a:hover, a:focus, .intro a:hover, .intro a:active, .intro a:focus {
	color: #FF8FBE;
	text-decoration: none;
}

.intro a, .intro p, .intro p.nav-links, .left-section p.nav-links {
	color: #FB3488;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 18px;
}

.strong {
	font-weight: 700;
}

.intro, .right-section, .left-section {
	min-height: 650px;
}

.intro img {
	max-width: 400px;
    height: auto;
    width: 85%;
}

.to-top {
	display: none;
	position: fixed;
    top: 3%;
    left: 3%;
    z-index: 999;
    padding: 10px 25px;
    background-color: rgba(251,52,136,.75);
    text-transform: uppercase;
}

a.to-top, a.to-top:visited {
	color: white;
}

.to-top:hover, .to-top:active {
    background-color: rgba(212, 25, 104,.75);
}

.toggle-section {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: white;
}

.toggle-section span {
	display: inline-block;
    vertical-align: middle;
    float: none;
}

.section p.nav-links {
	padding-top: 5%;
}


.left-section img {
	max-width: 300px;
	width: 50%;
	vertical-align: middle;
	display: inline-block;
}

.with-space {
	padding: 3% 0;
}

#about .left-section, #skills .left-section {
  	background: linear-gradient( 
  		to right, 
  		rgba(23, 28, 33, 0.75) 0%, 
  		rgba(51, 63, 74, 0.95) 50%

  	);
  	background-image: -webkit-linear-gradient(
		left, 
		rgba(23, 28, 33, 0.75) 0%, 
  		rgba(51, 63, 74, 0.95) 50% 

	);
}

#work .left-section, #contact .left-section {
    background: linear-gradient( 
    	to right, 
    	rgba(255, 255, 255, 0.95) 0%, 
    	rgba(51, 63, 74, 0) 50%
    );

	background-image: -webkit-linear-gradient(
		left,
		rgba(255, 255, 255, 0.95) 0%, 
    	rgba(51, 63, 74, 0) 50% 

    );
}

.right-section {
	padding: 5%;
    text-align: left;
    line-height: 25px;
    font-size: 115%;
}

.img-container {
	padding: 1% 0 3%
}

#about .right-section, #skills .right-section {
	background-color: white;
}

#about .right-section img {
	width: 200px;
	max-width: 90%;
    border-radius: 50%;
}

#about .right-section .col-md-8 {
	padding-left: 0px;
}

.section-copy {
	padding-top: 5%;
}

#work .right-section, #contact .right-section {
	color: white;
	background-color: #333f4a;
}

.skills-list {
	text-align: center;
	font-weight: 700;
}

.skills-list h3 {
	margin: 0 auto;
    font-size: 20px;
    color: #333f4a;
    font-weight: 700;
}

.skills-list hr {
	border-top: 2px solid #FB3488;
    width: 75%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.skills-list ul {
	list-style: none;
	padding: 0px;
	font-size: 14px;
}

.portfolio-item .img-container img {
	max-width: 100%;
	width: 100%;
}

.portfolio-item:after {
    clear: both;
    content: " ";
    display: block;
}

.portfolio-links a {
	padding-right: 25px;
	white-space: nowrap;
}

.more-work-available {
	text-align: left;
	font-size: 12px;
}

.social img {
	height: 35px;
}

.social a {
	text-decoration: none;
}

footer {
	padding: 20px;
	background-color: white;
}

footer p {
	display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
}

/** Responsive Styles **/
@media screen and (max-width:600px) and (max-height:360px) {
	.intro {
		line-height: 45px;
	}

	.intro img {
		width: 30%;
	}
}

@media screen and (max-width:670px) and (max-height:400px) {
	.intro {
		line-height: 45px;
	}

	.intro img {
		width: 30%;
	}
}

@media screen and (min-width:992px) and (max-width: 1235px)  {  
    p.nav-links {
		text-decoration: none;
		font-size: 14px;
	}
}

@media screen and (max-width:640px) and (min-height: 360px)  {
	.intro a, .intro p, .intro p.nav-links, .left-section p.nav-links {
		font-size: 14px;
		line-height: 25px;
		letter-spacing: 1px;
	}

	.right-section {
		padding: 10%;
	}

	.skills-list .col-sm-4 {
		margin-bottom: 30px;
	}
}
